/* RESPONSIVIDADE */
/* Resoluções para RESPONSIVIDADES! */

/* Ajustes de Responsividade */

@media screen and (min-width: 992px) {
    .grid-banner{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    
    .text-banner{
        margin: 0px;
        display: flex;
        flex-direction: column;
    }

    .grid-projects{
        padding: 0rem 1.8rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        gap: 1rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 993px) {
    .text-banner{
        margin: 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .grid-projects{
        padding: 0rem 1.8rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        gap: 1rem;
    }
}

/* Responsivo para Tablet, Notebook e Desktop! */
@media screen and (min-width: 769px){
    .menu-mobile{
        display: none;
    }

    .menu-two{
        display: flex;
        gap: 1rem;
        font-size: 0.87rem;
    }

    .nav-item{
        list-style: none;
    }

    .link-menu-desktop{
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.5s ease;
        font-family: Poppins-Medium;
        color: var(--cor-menu);
    }

    .link-menu-desktop::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 2px;
        background-color: #ff3700;
        transition: width 0.3s ease;
    }

    .link-menu-desktop:hover{
        color: var(--cor-texto-tres);
    }

    .link-menu-desktop:hover::after{
        width: 100%;
    }

    .img-banner{
        width: 100%;
        max-width: 360px;
        border-radius: 50%;
        margin: 2.4rem 0rem;
        transition: .2s;
    }
    
    .img-banner:hover{
        transform: scale(1.1);
    }

    .btn-portfolio{
        padding-top: 22px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    
    .title-banner{
        padding: 0rem 3rem 0rem 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: default;
    }

    .text-banner{
        margin: 0px;
        /* width: 100%;
        max-width: 470px; */
        display: flex;
        flex-direction: column;
    }

    .box-contact{
        padding: 0rem 1rem 3rem 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .rs-icon{
        border-bottom: 1px solid #ffffff;
        display: flex;
        justify-content: center;
        gap: 5rem;
    }

    .info-copy{
        font-family: var(--font-copy);
        font-size: 0.8rem;
        padding: 6px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}



/* Responsivo para Celulares e Tablet! */
@media screen and (max-width: 768px){
    .menu-desktop{
        display: none;
    }

    .img-logotipo{
        max-width: 100%;
        width: 115px;
    }

    .link-menu-mobile{
        text-decoration: none;
        text-transform: uppercase;
        font-family: Poppins-Medium;
        color: var(--cor-text-menu-mobile);
    }

    .menu-one{
        width: 100%;
        text-align: center;
        left: -140%;
        top: -18px;
        padding: 1rem 0rem;
        position: absolute;
        background-color: var(--cor-bg-menu-mobile);
        transition: 0.7s ease-in-out;
    }

    .menu-one.active{
        left: 0px;
    }

    .nav-item{
        list-style: none;
        margin: 16.7px 0px;
    }

    .bar{
        display: block;
        width: 28px;
        height: 3px;
        border-radius: 2px;
        margin: 5px auto;
        background-color: var(--cor-barra-menu-mobile);
        transition: all 0.3s ease-in-out;
    }

    .btn-hamburguer{
        cursor: pointer;
        display: block;
    }

    .btn-hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }

    .btn-hamburguer.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .btn-hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .title-banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: default;
    }

    .text-banner{
        margin: 0px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .img-banner{
        width: 75%;
        border-radius: 50%;
        margin: 2.4rem 0rem;
        transition: .2s;
    }

    .img-banner:hover{
        transform: scale(1.1);
    }

    .btn-portfolio{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .grid-projects{
        display: grid;
        justify-content: center;
        gap: 1rem;
    }

    .card-projects{
        width: 310px;
        padding-bottom: 4px;
    }

    .info-contact, .form-contact{
        padding: 1.6rem;
    }

    .rs-icon{
        border-bottom: 1px solid #ffffff;
        display: flex;
        justify-content: center;
        gap: 0.3rem;
    }

    .img-icon{
        width: 100%;
        max-width: 40px;
        object-fit: cover;
    }

    .info-copy{
        font-family: var(--font-copy);
        font-size: 0.7rem;
        padding: 6px 0px;
        text-align: center;
    }
}