/* Arquivo de Variáveis Nativas do CSS! */
:root{
    --cor-menu-header: #000000;
    --cor-menu-footer: #000000;

    --cor-texto-um: #000000;
    --cor-texto-dois: #ffffff;
    --cor-texto-tres: #ff6347;

    --font-titulo-principal: Montserrat-SemiBold;
    --font-sub-titulo: Montserrat-Medium;
    --font-texto: Poppins-Light;
    --font-size-title: 2.2rem;
    --font-size-subtitle: 1.9rem;
    --font-size-texto: 0.9rem;

    /* Variáveis de Formatação - Banner */
    --cor-bg-banner: #000000;
    --cor-texto-banner: #ffffff;
    --cor-menu-mobile: #000000;
    --cor-barra-menu-mobile: #000000;
    --cor-texto-menu-mobile: #ffffff;
    --cor-icon-nome: #ff3700;
    --cor-icon-nome-hover: #ff6347;

    /* Variáveis de Formatação - Quem Sou! */
    --cor-bg-about: #ff3700;
    --cor-bg-menu-mobile: #ff3700;
    --cor-texto-about: #ffffff;

    /* Variáveis de Formatação - Projetos (Portfólio)! */
    --cor-bg-projetos: #000000;
    --cor-bg-cards: #ffffff;
    --cor-texto-projetos: #ffffff;
    --font-texto-card: Poppins-Medium;
    --font-btn-projetos: Poppins-Regular;

    /* Variáveis de Formatação - Contato! */
    --cor-bg-contato: #ff3700;
    --cor-texto-contato: #ffffff;
     --cor-link-contato: #ffffff;
        
     --font-texto-contact: Poppins-Light;
     --font-form-contact: Montserrat-Light;
    --font-link-whatsapp: Poppins-SemiBold;

    --cor-bg-btn: #000000;
     --cor-bg-btn-hover: #076800;
     --cor-texto-btn: #ffffff;


    /* Variáveis de Formatação - Footer */
     --cor-bg-footer: #000000;
     --cor-texto-footer: #ffffff;
     --font-copy: Poppins-Regular;
}